.vscode
.pyc
__pycache__
*.log
*.tmp
*.bak
*.swp
.DS_Store
.idea
*.iml
*.sublime-project
*.sublime-workspace
*.env
*.venv
env/
venv/
*.egg-info/
dist/
build/
*.egg
*.whl
*.pyo
*.pyd
*.so
*.dll
*.dylib 